*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}

:root {
    --bg-welcome-section-layer: rgba(0, 0, 0, .65);
    --navbar-text: #EAF0D4;
    --welcome-section-text: #EAF0D4;
    --bg-projects-section: #EAF0D4;
    --projects-section-text: #000;
    --bg-buttons: #EAF0D4;
    --bg-buttons-hover: #d0e3e6;
    --buttons-text: black;
    --bg-contact-section: #2C3F3C;
    --contact-section-text: #FEF9F9;
    --input-text: #222;
    --bg-footer: #111;
    --footer-text: #FFF;
}

html,
body {
    box-sizing: border-box;
    font-family: 'Montserrat', 'Varela Round', 'Archivo Black', 'Lato', 'Roboto', sans-serif, 'Roboto Mono', monospace;
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.page-contents {
    flex: 1;
}


/* -- NAVIGATION MENU -- */

header {
    position: fixed;
    z-index: 100;
}

.navbar {
    /* position: sticky; */
    width: 100vw;
    padding: 1em 0px;
    height: 3em;
    background-color: rgba(0, 0, 0, 0.92);
    backdrop-filter: blur(2px);
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.navbar li {
    list-style-type: none;
    padding: 0px 1em;
}

.navbar a {
    text-decoration: none;
    color: var(--navbar-text);
}

.navbar a:hover {
    color: var(--bg-buttons-hover);
}


/* -- FOOTER -- */

footer {
    background-color: var(--bg-footer);
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    color: var(--footer-text);
}